<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Lobby Wars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex">
    <app-party-contract-card numParty="1" (partyContractOutput)="setPartyContract($event, 1)"></app-party-contract-card>
    <ion-button class="ion-text-center" color="medium" fill="outline" (click)="getTrialResultFromApi()">Start trial</ion-button>
    <app-party-contract-card numParty="2" (partyContractOutput)="setPartyContract($event, 2)"></app-party-contract-card>
  </div>
  <ion-list>
    <ion-item *ngFor="let trial of trials" class="ion-text-center">
      <ion-label class="ion-text-center">{{ trial }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
